@inject NavigationManager MyNavigationManager

<Title Value="@Title"></Title>
<Meta name="description" content="@Description" />
<Meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
<Meta prefix="og: http://ogp.me/ns#" property="og:title" content="@Title" />
<Meta prefix="og: http://ogp.me/ns#" property="og:description" content="@Description" />
<Meta prefix="og: http://ogp.me/ns#" property="og:image" content="@(MyNavigationManager.BaseUri.TrimEnd('/') + Image)" />
<Meta prefix="og: http://ogp.me/ns#" property="og:url" content="@(MyNavigationManager.Uri)" />

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string Image { get; set; }
}
